
-----------------------------
Channel Layout Chunk Details:
-----------------------------
Channel Layout Method:  {{ channel_layout_tag }}
{%- if number_of_channels %}
Number of Channels:   {{ number_of_channels }} {% endif %}
{% if channel_bitmap %}
Bitmask Channels Present:
-------------------------
{%- for value in channel_bitmap %}
  - {{ value }}
 {%- endfor %}
 {%- endif %}
{% if number_of_channel_descriptions %}
Channel Descriptions:
---------------------
{% for description in channel_descriptions %}
   description.channel_label,
   description.channel_flags,
   {% for index, coord in coordinates %}
   {{ coordinates.index }},
   {% endfor %}
{% endfor %}
{% endif %}