
--------------------------
Description Chunk Details:
--------------------------
Audio Format:         {{ format }}
Format Flags:         {{ format_flags }}
Sample Rate:          {{ sample_rate }} kHz
Bit Depth:            {{ bits_per_channel }} bit
Bytes per Packet:     {{ bytes_per_packet }}
Frames per Packet:    {{ frames_per_packet }}
Channels per Frame:   {{ channels_per_frame }}
