
---------------------------------
Information Layout Chunk Details:
---------------------------------
{%- for entry in information_entries %}
{{ entry.key }}: {{ entry.spacer }}{{ entry.value }}{% endfor %}
