
---------------------
Region Chunk Details:
---------------------
SMPTE Time Type: {{ smpte_time_type }}
Number of Regions {{ number_of_regions }}
{% for region in regions %}
---------------------------
ID:             {{ id }}
Loop Enabled:   {{ loop_enabled }}
Play Forward:   {{ play_forward }}
Play Backward:  {{ play_backward }}
Number Of Markers:  {{ number_of_markers }}

{% for marker in markers %}
    ----------------------------
    Marker ID:       {{ marker.id }}
    Channel:         {{ marker.channel }}
    Marker Type:     {{ marker.marker_type }}
    Frame Position:  {{ frame_position }}
    SMPTE Timestamp: {{ marker.smpte_time }}
{% endfor %}
{% endfor %}