
---------------------
Region Chunk Details:
---------------------
SMPTE Time Type: {{ smpte_time_type }}
Number of Regions {{ number_of_regions }}
{% for region in regions %}
---------------------------
ID:             {{ region.id }}
Loop Enabled:   {{ region.loop_enable }}
Play Forward:   {{ region.play_forward }}
Play Backward:  {{ region.play_backward }}
Number Of Markers:  {{ region.number_of_markers }}

{% for marker in region.markers %}
    ----------------------------
    Marker ID:       {{ marker.id }}
    Channel:         {{ marker.channel }}
    Marker Type:     {{ marker.marker_type }}
    Frame Position:  {{ marker.frame_position }}
{% if marker.smpte_time %}    SMPTE Timestamp: {{ marker.smpte_time }}{% endif %}
{% endfor %}
{% endfor %}