
---------------------------------------
User Defined Data (UUID) Chunk Details:
---------------------------------------
Node ID:         {{ node_id }}
Timestamp:       {{ timestamp }}
Variant:         {{ variant }}
Version:         {{ version }}
Version Number:  {{ version_number }}
{%- if remaining_data %}
{{ remaining_data }}
{% endif %}