------------
Picture Info
------------
Picture Type:             {{ picture_type }}
Media Type:               {{ media_type }}
Description:              {{ description }}
Height:                   {{ width }} px
Width:                    {{ height }} px
Colour Depth:             {{ colour_depth }} bits per pixel
Number of Colours Used:   {{ number_of_colours }}
Picture Size:             {{ picture_length_in_bytes }}
