-----------------
Stream Info Block
-----------------
Channels:            {{ channels }}
Sample Rate:         {{ sample_rate }} kHz
Bit Depth:           {{ bits_per_sample }} bits
Total Samples:       {{ total_samples }} per channel
Minimum Block Size:  {{ min_block_size }} Samples
Maximum Block Size:  {{ max_block_size }} Samples
Minimum Frame Size:  {{ min_frame_size }} Bytes
Maximum Frame Size:  {{ max_frame_size }} Bytes
MD5 Sum:             {{ md5sum }}
