-------------------
Vorbis Comment Info
-------------------
Vendor String:       {{ vorbis_vendor }}
{% if vorbis_tags %}
Comments:
---------
{%- for comment in vorbis_tags %}
{{ comment.id }}:    {{ comment.spacer }}{{ comment.value }}
{%- endfor %}
{%- endif %}
