-----------------------------------------------
Broadcast Wave Format (BWF) bext Chunk Details:
-----------------------------------------------
Description: {{ description }}
Originator: {{ originator }}
Originator Reference: {{ originator_reference }}
Originator Date: {{ originator_date }}
Originator Time {{ originator_time }}
Time Reference: First {{ time_reference }} Samples Since Midnight
Version: {{ version }}
UMID: {{ umid }}
Loudness Value: {{ loudness_value }} LUFS
loudness Range: {{ loudness_range }} LUFS
Max True Peak Level: {{ max_true_peak_level }} dbTP
Max Momentary loudness: {{ max_momentary_loudness }} LUFS
Max Short Term Loudness: {{ max_short_term_loudness }} LUFS
Reserved: {{ reserved }}
Coding History: {{ coding_history }}
