#################################################
               Flac File Metadata
#################################################

File Name:           {{ file_name }}
File Path:           {{ file_path }}
File Size:           {{ file_size }}
