
MIDI File Metadata
#################################################

-------------
File Details:
-------------
File Name: {{ file_name }}
File Path: {{ file_path }}
File Size: {{ file_size }}

------------
Header Info
------------
File Format:        {{ format }}
Number of Tracks:   {{ number_of_tracks }}
{% if ppqn %}Division:           {{ ppqn }} Ticks (pulses) per quarter note{%- endif %}
{%- if timecode %}Timecode:           {{ timecode }} Frames per Second{%- endif %}
{%- if ticks_per_frame %}Ticks per Frame:   {{ ticks_per_frame }}  Ticks per frame{%- endif %}

---------------
Meta Event Info
---------------
{%- for event in meta_event_data %}
Track:       {{ event.track_number }}
Delta Time:  {{ event.delta_time }}
Event:       {{ event.name }}
Value:       {{ event.value }}
---------------
{%- endfor %}