-------------------
ACID Chunk Details:
-------------------
File Type:
----------
  > {{ loop_on }}
  > {{ root_note_set }}
  > {{ stretch }}
  > {{ disk_based }}
  > {{ acidizer }}

-------------
Root Note:                         {{ root_note }}
Mystery Value One:                 {{ mystery_one }}
Mystery Value Two:                 {{ mystery_two }}
Time Signature (Likely Incorrect): {{ meter_numerator }}/{{ meter_denominator }}
Number of Beats:                   {{ number_of_beats }}
Tempo:                             {{ tempo }} bpm
