-----------------------------------------------
Broadcast Wave Format (BWF) bext Chunk Details:
-----------------------------------------------
Description:             {{ description }}
Originator:              {{ originator }}
Originator Reference:    {{ originator_reference }}
Originator Date:         {{ originator_date }}
Originator Time          {{ originator_time }}
Time Reference: First    {{ time_reference }} Samples Since Midnight
Version:                 {{ version }}
UMID (Hex Bytes):
  Universal Lable:      {{ universal_label }}
  Instance Number:      {{ instance_number }}
  Material Number:      {{ material_number }}
  Time & Data:          {{ time_and_date }}
  Spatial Coordinates:  {{ spatial_coordinates }}
  Country:              {{ country }}
  Organization:         {{ organization }}
  User:                 {{ user }}
Loudness Value:          {{ loudness_value }} LUFS
loudness Range:          {{ loudness_range }} LUFS
Max True Peak Level:     {{ max_true_peak_level }} dbTP
Max Momentary loudness:  {{ max_momentary_loudness }} LUFS
Max Short Term Loudness: {{ max_short_term_loudness }} LUFS
Reserved:                {{ reserved }}
Coding History:          {{ coding_history }}
