----------------------
Comment Chunk Details:
----------------------
{%- for comment in comments %}
Comment Creation Date:  {{ comment.timestamp }}
Marker ID:              {{ comment.marker_id }} (Sample Frame Number)
Comment:                {{ comment.comment }}
{%- endfor %}
