-------------------
Mark Chunk Details:
-------------------
{%- for marker in markers %}
Marker ID:  {{ marker.marker_id }}
Name:       {{ marker.name }}
Position:   {{ marker.position }}
{% endfor %}
