----------------------------
Sample (smpl) Chunk Details:
----------------------------
Manufacturer:              {{ manufacturer }}
{%- if manufacturer %} (Updated List of IDs: https://midi.org/sysexidtable) {%- endif %}
{%- if not manufacturer %}N/A{%- endif %}
Manufacturer Product ID:   {{ product }}
Sample Period:             {{ sample_period }} nanoseconds
Midi Unity Note:           {{ midi_unity_note }}
Midi Pitch Fraction:       {{ midi_pitch_fraction }} cents up from the unity note
Sample Format:             {{ smpte_format }}
Sample Time Offset:        {{ smpt_offset }}
Number of Sample Loops:    {{ number_of_sample_loops }}
{% if sample_data_size_in_bytes %}
Total Sample Loops Bytes:  {{ sample_data_size_in_bytes }} B
{% endif %}
{%- if number_of_sample_loops %}
  Sample Loops:
  -------------
{%- for sample in sample_loops %}
  Cue Point ID:                {{ sample.cue_point_id }}
  Loop Type:                   {{ sample.loop_type }}
  Start Point:                 Sample {{ sample.start_point }}
  End Point:                   Sample {{ sample.end_point }}
  Sample Resolution:            {%- if sample.fraction %}{{ sample.fraction }}% of a sample{% endif %}
  # of Times to Play the Loop: {{ sample.number_of_time_to_play_the_loop }}
  -------------
{%- endfor %}
{% endif %}