
 < AIFF/AIFC File Metadata >

-------------
File Details:
-------------
File Name:           {{ file_name }}
File Path:           {{ file_path }}
File Size:           {{ file_size }}
Form Type:           {{ form_type }}
Chunk IDs Found:    '{{ chunk_ids_found }}'
Chunk IDs Skipped:  '{{ chunk_ids_skipped }}'
