-------------------
Common Chunk Details:
-------------------

Number of Channels:     {{ number_of_channels }},
Sample Frames:          {{ sample_frames }} samples/channel,
Sample Rate:            {{ sample_rate }} kHz,
Sample Size:            {{ sample_size }} bits/sample,
Compression Type ID:    {{ compression_type }},
Compression Type Name:  {{ compression_name }},
