---------------------
Common Chunk Details:
---------------------
Number of Channels:     {{ number_of_channels }}
Sample Rate:            {{ sample_rate }} kHz
Bit Depth:              {{ sample_size }} bits
Sample Frames:          {{ sample_frames }} samples/channel
{%- if compression_type %}Compression Type ID:    {{ compression_type }}{%- endif %}
{%- if compression_name %}Compression Type Name:  {{ compression_name }}{%- endif %}\
